<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">

    <resultMap id="AdminMap" type="entity.Admin">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <sql id="AdminFindCriteria">
        <where>
            <if test="account != null and account != ''">and account = #{account}</if>
            <if test="id != null and id != '' ">and id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
        </where>
    </sql>
    <sql id="AdminUpdateCriteria">
        <set>
            <if test="updateAccount != null and updateAccount != ''">account = #{updateAccount},</if>
            <if test="updateId != null and updateId != '' ">id = #{updateId},</if>
            <if test="updateName != null and updateName != '' ">name = #{updateName},</if>
            <if test="updatePassword != null and updatePassword != ''">password = #{updatePassword},</if>
            <if test="updatePhone != null and updatePhone != ''">phone = #{updatePhone},</if>
            <if test="updateRemark != null and updateRemark != ''">remark = #{updateRemark},</if>
        </set>
    </sql>

    <!--添加用户-->
    <insert id="create" parameterType="entity.Admin" keyProperty="id" useGeneratedKeys="true">
        insert into tb_admin(account,password,name,phone,remark) value (#{account},#{password},#{name},#{phone},#{remark})
    </insert>


    <!--删除用户-->
    <delete id="delete">
        delete from tb_admin
        <include refid="AdminFindCriteria"/>
    </delete>

    <!--查询用户个数-->
    <select id="count" resultType="int">
        select count(1) from tb_admin
        <include refid="AdminFindCriteria"></include>
    </select>

    <!--按照条件查询所有用户-->
    <select id="query" resultMap="AdminMap">
        select * from tb_admin
        <include refid="AdminFindCriteria"/>
    </select>

    <!--查询详细信息-->
    <select id="detail" resultMap="AdminMap">
        select * from tb_admin
        <include refid="AdminFindCriteria"/>
        limit 1
    </select>


    <!--修改用户信息-->
    <update id="update">
        update tb_admin
        <include refid="AdminUpdateCriteria"/>
        <include refid="AdminFindCriteria"/>
    </update>


</mapper>